body {
    font-family:Hind;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}
main{
    margin: auto;
    width: 100%;
    position: absolute;
    
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

h1{
    
font-size:bold;
color: #5BD298;
}
a{
    list-style: none;
    text-decoration: none;
}
article{
    width: 40%;
}
dt{
   font-size:bold; 
    
}